<div id="<%= dom_id loan %>">
  <p>
    <strong>Status:</strong>
    <%= loan.status %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= loan.amount %>
  </p>

  <p>
    <strong>Interest rate:</strong>
    <%= loan.interest_rate %>
  </p>

  <p>
    <strong>Approved at:</strong>
    <%= loan.approved_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= loan.user_id %>
  </p>

  <p>
    <strong>Admin:</strong>
    <%= loan.admin_id %>
  </p>

</div>
